- current_user.links.each do |link|
  .col.s4
    .card
      .card-image
        - if link.preview_image.present?
          = image_tag(link.preview_image, with: 200)
        - else
          = image_tag('301.png', widht: 150, height: 150)
      .card-content
        %p= link.host